
    <!-- Start footer -->
    <div class="allfooter">
      <!-- Start footer-1 -->
      <div class="footer-1">
        <div class="mainfooter-1">
          <a href="#"><i class="fa fa-truck"></i>We ship worldwide</a>
          <a href="#"><i class="fa fa-phone"></i>+0133335544552</a>
          <a href="#"><i class="fa fa-dollar"></i>Money Back Guarantee</a>
          <a href="#"><i class="fa fa-money"></i>30 days return</a>
        </div>
      </div>
      <!-- End footer-1 -->

      <!-- Start footer-2 -->
      <div class="footer-2">
        <!-- Start foot-1 -->

        <div class="foot-1">
          <a href="#"
            ><i class="fa fa-map-marker"></i>
            Cairo 27 Street a266
          </a>
          <a href="#"
            ><i class="fa fa-mobile"></i>
            + (888) 123-4567 / + (888) 456-7890
          </a>
          <a href="#"><i class="fa fa-envelope"></i>Example@gmail.com</a>
        </div>
        <!-- End foot-1 -->
        <!-- Start foot-2 -->
        <div class="foot-2">
          <h1 class="titlefoot">Customer Service</h1>
          <nav class="menufoot">
            <li><a href="#">My Account</a></li>
            <li><a href="#">Order History</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Specials</a></li>
            <li><a href="#">Specials</a></li>
          </nav>
        </div>
        <!-- End foot-2 -->
        <!-- Start foot-2 -->
        <div class="foot-2">
          <h1 class="titlefoot">Corporation</h1>
          <nav class="menufoot">
            <li><a href="#">About us</a></li>
            <li><a href="#">Customer Service</a></li>
            <li><a href="#">Company</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">Advanced Search</a></li>
          </nav>
        </div>
        <!-- End foot-2 -->
        <!-- Start foot-2 -->
        <div class="foot-2">
          <h1 class="titlefoot">Why Choose Us</h1>
          <nav class="menufoot">
            <li><a href="#">Shopping Guide</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Company</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">Contact Us</a></li>
          </nav>
        </div>
        <!-- End foot-2 -->
      </div>
      <!-- End footer-2 -->
      <!-- start footer-3 -->
      <div class="alliconfoot">
        <div class="iconsfoot">
          <i class="fa fa-facebook-square"></i>
          <i class="fa fa-twitter-square"></i>
          <i class="fa fa-linkedin-square"></i>
          <i class="fa fa-youtube-square"></i>
          <i class="fa fa-instagram"></i>
          <i class="fa fa-google-plus-square"></i>
          <i class="fa fa-envelope"></i>
        </div>
        <div class="name">
          <h1>&copy; Remon Magdy 2021</h1>
        </div>
        <div class="cards">
          <img src="images/payment-icon/1.png" alt="" />
          <img src="images/payment-icon/2.png" alt="" />
          <img src="images/payment-icon/3.png" alt="" />
          <img src="images/payment-icon/5.png" alt="" />
          <img src="images/payment-icon/7.png" alt="" />
        </div>
      </div>
      <!-- End footer-3 -->
    </div>
    <!-- End footer -->