{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-commerce</title>
      <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
    <link rel="stylesheet" href="{% static 'allcss/style.css' %}" />
    <link rel="stylesheet" href="{%  static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'allcss/Product.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'allcss/category.css' %}" />
    <link rel="stylesheet" href="{% static 'allcss/blog.css' %}" />
    <link rel="stylesheet" href="{% static 'allcss/contact.css' %}" />
    <link rel="stylesheet" href="{% static 'allcss/singin.css' %}" />
      <link rel="stylesheet" href="{% static 'css/cart.css' %}" />

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
<body>
{% include 'snippets/header.html' %}

          {% block content %}{% endblock %}


{% include 'snippets/footer.html' %}

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
